{% extends "base.html" %}

{% block content %}

    <div class="text-center">
        <h1>Google Playstore Application Manager</h1>
        <h2>Get access to more information on your google playstore application</h2>
        <h3>Click the links below to start</h3>
    </div>
    <div class="text-center">
        <a href="{{ url_for('application') }}" class="btn btn-primary btn-lg" role="button" data-bs-toggle="button">Application Data</a>
        <a href="{{ url_for('developer') }}" class="btn btn-primary btn-lg" role="button" data-bs-toggle="button">Developer Data</a>
        <a href="{{ url_for('review') }}" class="btn btn-primary btn-lg" role="button" data-bs-toggle="button">Review Data</a>
    </div>

{% endblock %}
